{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
My products
{% endblock %}

{% block my_products %}
<ul class="nav navbar-nav navbar-right">
    <li class="nav-item"><a class="nav-link active" href="{% url 'my_products' %}">My products</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="container">
    <form method="get" action="{% url 'my_products'%}">
        {{ form | crispy }}
        <button type="submit" class="btn btn-secondary">Search</button>
    </form>
    {% if selected_data %}
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Calories</th>
                <th scope="col">Proteins</th>
                <th scope="col">Carbohydrates</th>
                <th scope="col">Sugars</th>
                <th scope="col">Fats</th>
            </tr>
        </thead>
        <tbody>
        {% for row in selected_data %}
            <tr>
                <td><a href="{% url 'product_details' row.id %}" class="text-reset text-decoration-none">{{ row.name }}</a></td>
                <td>{{ row.category }}</td>
                <td>{{ row.calories }}</td>
                <td>{{ row.proteins }}</td>
                <td>{{ row.carbohydrates }}</td>
                <td>{{ row.sugars }}</td>
                <td>{{ row.fats }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No products was found!</p>
    {% endif %}
</div>
<div class="container">
    <a class="btn btn-secondary btn-lg btn-block" href="{% url 'new_product' %}">Add new product</a>
</div>
{% endblock %}